<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Item!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <h2 class="form-title">Add New Item</h2>

        <form action="/closetItems" method="POST" class="form-page">

            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name" id="name" class="form-input" required />

            <label for="description" class="form-label">Description:</label>
            <textarea name="description" id="description" cols="30" rows="4" class="form-textarea"></textarea>

            <label for="category" class="form-label">Category:</label>
            <select name="category" id="category" class="form-select" required>
                <option value="Tops">Tops</option>
                <option value="Bottoms">Bottoms</option>
                <option value="Dresses">Dresses</option>
                <option value="Outerwear">Outerwear</option>
                <option value="Footwear">Footwear</option>
                <option value="Accessories">Accessories</option>
                <option value="Bags">Bags</option>
                <option value="Activewear">Activewear</option>
                <option value="Formalwear">Formalwear</option>
                <option value="Other">Other</option>
            </select>

            <label for="color" class="form-label">Color:</label>
            <select name="color" id="color" class="form-select" required>
                <option value="Black">Black</option>
                <option value="White">White</option>
                <option value="Gray">Gray</option>
                <option value="Beige">Beige</option>
                <option value="Brown">Brown</option>
                <option value="Navy">Navy</option>
                <option value="Blue">Blue</option>
                <option value="Green">Green</option>
                <option value="Yellow">Yellow</option>
                <option value="Orange">Orange</option>
                <option value="Red">Red</option>
                <option value="Pink">Pink</option>
                <option value="Purple">Purple</option>
                <option value="Multicolor">Multicolor</option>
            </select>

            <label for="image-url" class="form-label">ImageURL:</label>
            <input type="text" name="imageURL" id="image-url" class="form-input">

            <button type="submit" class="btn">Create Item</button>
        </form>
</body>

</html>