<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outfits</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div>
        <p><%= numberOfOutfits %># Outfits</p>
        <div>
            <a href="/outfits/new">Add Outfit</a>
        </div>
    </div>

    <div>
        <% if(numberOfOutfits > 0) { %>
            <ul>
                <% AllOutfits.forEach((outfit) => { %>
                    <li>
                        <a href="/outfits/<%= outfit._id %>"><%= outfit.name %></a>
                    </li>
                <% }) %>
            </ul>
            
        <% } else { %>
            <p>No Items added yet!</p>
        <% } %>
    </div>
</body>
</html>